<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${user.id}">VALUE</p>
<p th:text="${user.name}">VALUE</p>
<p th:text="${user.lastName}">VALUE</p>

<h3>тут еще должен быть код, который подтягивает случайные лица сгенерированные с AI, но я не нашел бесплатный API</h3>
<!--<a th:href="@{/{id}/edit(id=${user.id})}">Edit</a>-->
<!--<form th:metod="DELETE" th: action="@{/{id}(id=${user.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->

</body>
</html>